In [1]:
import pandas as pd

In [ ]:
# 1-  Cargar archivo Excel
xlsx_path = "customer-details.xlsx"
excel_file = pd.ExcelFile(xlsx_path)

# üîç Ver nombres de hojas
print("üìÑ Hojas disponibles:", excel_file.sheet_names)


# Mapeo hoja -> a√±o
mapa_hojas = {
    '2012': '2012',
    '2013': '2013',
    '2014': '2014'
}

# üîÄ Unificar todas las hojas en un solo DataFrame con columna 'a√±o'
df_xlsx_all = pd.concat(
    [excel_file.parse(sheet).assign(a√±o=year) for sheet, year in mapa_hojas.items()],
    ignore_index=True
)



# ‚úÖ Renombrar columna 'ID' ‚Üí 'uuid' para preparar el merge
df_xlsx_all = df_xlsx_all.rename(columns={'ID': 'uuid'})
# üß™ Comprobar resultado
print("üìé Dataset combinado desde el Excel:")
print(f"üßÆ Registros: {df_xlsx_all.shape[0]}")
print(f"üìã Columnas: {df_xlsx_all.columns.tolist()}")
print("üß™ ¬øEst√° 'uuid' en df_xlsx_all?", 'uuid' in df_xlsx_all.columns)
print("üìã Primeras filas:", df_xlsx_all[['uuid']].head())

üìÑ Hojas disponibles: ['2012', '2013', '2014']
üîÅ Registros completamente duplicados (todas las columnas): 0
üìé Dataset combinado desde el Excel:
üßÆ Registros: 43170
üìã Columnas: ['Unnamed: 0', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'NumWebVisitsMonth', 'uuid', 'a√±o']
üß™ ¬øEst√° 'uuid' en df_xlsx_all? True
üìã Primeras filas:                                    uuid
0  089b39d8-e4d0-461b-87d4-814d71e0e079
1  e9d37224-cb6f-4942-98d7-46672963d097
2  3f9f49b5-e410-4948-bf6e-f9244f04918b
3  9991fafb-4447-451a-8be2-b0df6098d13e
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

In [ ]:
# 2 ‚Äî Cargar los datos CSV
with open("bank-additional.csv", "r", encoding="utf-8") as f:
    cabecera_raw = f.readline().strip()
if cabecera_raw.startswith(","):
    cabecera_raw = cabecera_raw[1:]
    columnas = [col.strip() for col in cabecera_raw.split(",")]
try:
    df_bank  = pd.read_csv(
        "bank-additional.csv",
        sep=",",
        skiprows=1,
        names=columnas,
        encoding="utf-8",
        quotechar='"',
        decimal=","
    )
    print("‚úÖ CSV cargado con √©xito")
except Exception as e:
    print("‚ùå Error al cargar el CSV:", e)
print(f"üîÅ Registros completamente duplicados (todas las columnas): {duplicados_completos}")

# Renombrar columna id_ ‚Üí uuid si a√∫n no est√° hecho
df_bank = df_bank.rename(columns={'id_': 'uuid'})

print("üìé Dataset CSV:")
print(f"üßÆ Registros: {df_bank.shape[0]}")
print(f"üìã Columnas: {df_bank.columns.tolist()}")

‚úÖ CSV cargado con √©xito
üîÅ Registros completamente duplicados (todas las columnas): 0
üìé Dataset CSV:
üßÆ Registros: 43000
üìã Columnas: ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'date', 'latitude', 'longitude', 'uuid']

In [4]:
# 3 - Mergeamos

# üîó Realizamos el merge usando 'uuid' como clave
df_merged = pd.merge(df_bank, df_xlsx_all, on='uuid', how='outer')

# üß™ Verificamos el resultado del merge
print("‚úÖ Merge completado con √©xito")
print(f"üî¢ Registros en df_bank: {df_bank.shape[0]}")
print(f"üî¢ Registros en df_xlsx_all: {df_xlsx_all.shape[0]}")
print(f"üîó Registros despu√©s del merge: {df_merged.shape[0]}")
print(f"üìã Columnas del nuevo dataset: {df_merged.columns.tolist()}")

# üëÅÔ∏è Mostramos algunas filas para verificar visualmente
display(df_merged.sample(5))

‚úÖ Merge completado con √©xito
üî¢ Registros en df_bank: 43000
üî¢ Registros en df_xlsx_all: 43170
üîó Registros despu√©s del merge: 43170
üìã Columnas del nuevo dataset: ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'date', 'latitude', 'longitude', 'uuid', 'Unnamed: 0', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'NumWebVisitsMonth', 'a√±o']

,age,job,marital,education,default,housing,loan,contact,duration,campaign,...,latitude,longitude,uuid,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,a√±o
27484,NaN,admin.,MARRIED,NaN,0.0,1.0,0.0,cellular,82.0,1.0,...,44.049,-92.8,a2cfa7e2-3d19-40a6-86af-3abfb779b912,8824,157590,2,0,2014-12-23,7,2014
39309,33.0,admin.,MARRIED,university.degree,0.0,0.0,0.0,cellular,168.0,1.0,...,33.86,-70.618,e9288a7f-64e2-4b8c-b101-fa2d19f3197c,19609,58839,2,2,2012-12-23,20,2012
12802,24.0,technician,SINGLE,professional.course,0.0,1.0,0.0,cellular,355.0,2.0,...,39.058,-108.26,4b9d53d9-e861-46d4-bd07-36a4ba1d61d2,11143,43559,0,2,2014-12-26,28,2014
43004,NaN,admin.,MARRIED,university.degree,0.0,0.0,0.0,cellular,135.0,1.0,...,36.946,-116.209,fef39322-8a0d-428c-8171-430adae63e88,13751,74588,1,2,2014-04-24,29,2014
6407,NaN,admin.,MARRIED,university.degree,0.0,1.0,0.0,cellular,8.0,2.0,...,40.131,-80.049,25b56bf2-7b45-44d6-b7c2-168507457b7b,6743,69981,2,0,2014-05-20,4,2014

In [5]:
# 4 - Exportar DataFrame fusionado a archivo Excel
output_path = "data_set_complete_raw.xlsx"

# üíæ Guardar sin √≠ndice, para mantenerlo limpio
df_merged.to_excel(output_path, index=False)

# ‚úÖ Confirmaci√≥n
print(f"‚úÖ Archivo guardado con √©xito en: {output_path}")

‚úÖ Archivo guardado con √©xito en: data_set_complete_raw.xlsx