KPI 2: Arquetipo de cliente que contrata productos bancarios.

â¸»

ðŸŽ¯ Objetivo

Identificar el perfil demogrÃ¡fico y financiero mÃ¡s representativo de los clientes que sÃ­ han contratado un producto (y == True).

In [1]:
import pandas as pd
import importlib
import data_cleaning_utils
importlib.reload(data_cleaning_utils)

In [2]:
# 1 - Cargar el DataFrame
df_bank = pd.read_excel("data_set_complete.xlsx")
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39578 entries, 0 to 39577
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                39578 non-null  int64
 1   job                39578 non-null  object
 2   marital            39578 non-null  object
 3   education          39578 non-null  object
 4   default            39578 non-null  int64
 5   housing            39578 non-null  int64
 6   loan               39578 non-null  int64
 7   contact            39578 non-null  object
 8   duration           39578 non-null  int64
 9   campaign           39578 non-null  int64
 10  pdays              39578 non-null  int64
 11  previous           39578 non-null  int64
 12  poutcome           39578 non-null  object
 13  emp.var.rate       39578 non-null  float64
 14  cons.price.idx     39578 non-null  float64
 15  cons.conf.idx      39578 non-null  float64
 16  euribor3m          39578 non-null  float64
 17  nr.employed        39578 non-null  float64
 18  y                  39578 non-null  bool
 19  date               39578 non-null  datetime64[ns]
 20  latitude           39578 non-null  float64
 21  longitude          39578 non-null  float64
 22  uuid               39578 non-null  object
 23  Income             39578 non-null  int64
 24  Kidhome            39578 non-null  int64
 25  Teenhome           39578 non-null  int64
 26  Dt_Customer        39578 non-null  datetime64[ns]
 27  NumWebVisitsMonth  39578 non-null  int64
 28  aÃ±o                39578 non-null  int64
dtypes: bool(1), datetime64[ns](2), float64(7), int64(13), object(6)
memory usage: 8.5+ MB

In [8]:
# Paso 1 - Crear variable de trabajo consolidada
df_arquetipo = df_bank[df_bank['y'] == True].copy()

# Paso 2 - Seleccionar columnas relevantes (puedes aÃ±adir mÃ¡s si las necesitas luego)
columnas_kpi2 = [
    'age', 'job', 'marital', 'education',
    'housing', 'loan', 'Income', 'Kidhome', 'Teenhome', 'contact'
]
df_arquetipo = df_arquetipo[columnas_kpi2]

# Paso 3 - AÃ±adir columnas derivadas
df_arquetipo['children'] = df_arquetipo['Kidhome'] + df_arquetipo['Teenhome']
df_arquetipo['has_children'] = df_arquetipo['children'].apply(lambda x: 1 if x > 0 else 0)

In [9]:
# Llamada a la funciÃ³n con la variable 'age' e 'Income
data_cleaning_utils.resumen_variable_numerica(df_arquetipo, 'age')
data_cleaning_utils.resumen_variable_numerica(df_arquetipo, 'Income')

ðŸ“Š AnÃ¡lisis de la variable numÃ©rica: age
--------------------------------------------------
Media: 39.04
Mediana: 38.00
DesviaciÃ³n estÃ¡ndar: 10.57
Valor mÃ­nimo: 18
Valor mÃ¡ximo: 70
Percentil 25: 31.0
Percentil 50 (mediana): 38.0
Percentil 75: 45.0
--------------------------------------------------

ðŸ“Š AnÃ¡lisis de la variable numÃ©rica: Income
--------------------------------------------------
Media: 92500.14
Mediana: 92312.00
DesviaciÃ³n estÃ¡ndar: 50345.93
Valor mÃ­nimo: 5841
Valor mÃ¡ximo: 180791
Percentil 25: 49464.75
Percentil 50 (mediana): 92312.0
Percentil 75: 134428.5
--------------------------------------------------

In [11]:
data_cleaning_utils.resumen_variable_categorica(df_arquetipo, 'job')
data_cleaning_utils.resumen_variable_categorica(df_arquetipo, 'marital')
data_cleaning_utils.resumen_variable_categorica(df_arquetipo, 'education')
data_cleaning_utils.resumen_variable_categorica(df_arquetipo, 'housing')
data_cleaning_utils.resumen_variable_categorica(df_arquetipo, 'loan')
data_cleaning_utils.resumen_variable_categorica(df_arquetipo, 'contact')

ðŸ“Š AnÃ¡lisis de la variable categÃ³rica: job
--------------------------------------------------

               Frecuencia  Porcentaje (%)
job
admin.               1341           31.29
technician            714           16.66
blue-collar           621           14.49
management            316            7.37
services              307            7.16
retired               262            6.11
student               213            4.97
self-employed         157            3.66
unemployed            146            3.41
entrepreneur          117            2.73
housemaid              92            2.15

ðŸŽ¯ Valor mÃ¡s comÃºn (moda): admin.
--------------------------------------------------

ðŸ“Š AnÃ¡lisis de la variable categÃ³rica: marital
--------------------------------------------------

          Frecuencia  Porcentaje (%)
marital
married         2348           54.78
single          1525           35.58
divorced         413            9.64

ðŸŽ¯ Valor mÃ¡s comÃºn (moda): married
--------------------------------------------------

ðŸ“Š AnÃ¡lisis de la variable categÃ³rica: education
--------------------------------------------------

                       Frecuencia  Porcentaje (%)
education
university degree            1676           39.10
high school                  1043           24.34
basic education               980           22.87
professional training         584           13.63
illiterate                      3            0.07

ðŸŽ¯ Valor mÃ¡s comÃºn (moda): university degree
--------------------------------------------------

ðŸ“Š AnÃ¡lisis de la variable categÃ³rica: housing
--------------------------------------------------

         Frecuencia  Porcentaje (%)
housing
1              2361           55.09
0              1925           44.91

ðŸŽ¯ Valor mÃ¡s comÃºn (moda): 1
--------------------------------------------------

ðŸ“Š AnÃ¡lisis de la variable categÃ³rica: loan
--------------------------------------------------

      Frecuencia  Porcentaje (%)
loan
0           3645           85.04
1            641           14.96

ðŸŽ¯ Valor mÃ¡s comÃºn (moda): 0
--------------------------------------------------

ðŸ“Š AnÃ¡lisis de la variable categÃ³rica: contact
--------------------------------------------------

           Frecuencia  Porcentaje (%)
contact
cellular         3560           83.06
telephone         726           16.94

ðŸŽ¯ Valor mÃ¡s comÃºn (moda): cellular
--------------------------------------------------

ðŸ§© Resumen del arquetipo completo (KPI 2)

El cliente que contrata productos bancarios tiene una media de 39 aÃ±os, ingresos cercanos a 92.000â€¯â‚¬ anuales, estÃ¡ casado, tiene estudios universitarios, trabaja en administraciÃ³n, tiene hipoteca, no tiene prÃ©stamo personal, tiene hijos y fue contactado por telÃ©fono mÃ³vil.